# main clock constrains
NET "FSMC_CLK_54MHZ" IOSTANDARD = LVCMOS33;
NET "FSMC_CLK_54MHZ" LOC = L20;
NET "FSMC_CLK_54MHZ" TNM_NET = "FSMC_CLK_54MHZ";
TIMESPEC TS_FSMC_CLK_54MHZ = PERIOD "FSMC_CLK_54MHZ" 18.518 ns HIGH 50% INPUT_JITTER 185.18ps;


NET "FSMC_NCE" LOC = A19;
NET "FSMC_D[5]" LOC = F20;
NET "FSMC_D[23]" LOC = D22;
NET "FSMC_D[14]" LOC = F21;
NET "FSMC_D[22]" LOC = D21;
NET "FSMC_D[16]" LOC = H19;
NET "FSMC_NBL[1]" LOC = R20;
NET "FSMC_D[26]" LOC = C20;
NET "FSMC_D[30]" LOC = B21;
NET "FSMC_D[1]" LOC = A20;
NET "FSMC_D[27]" LOC = C22;
NET "FSMC_D[25]" LOC = H22;
NET "FSMC_D[19]" LOC = E22;
NET "FSMC_D[17]" LOC = H20;
NET "FSMC_D[21]" LOC = G22;
NET "FSMC_D[29]" LOC = K19;
NET "FSMC_D[24]" LOC = H21;
NET "FSMC_D[20]" LOC = G20;
NET "FSMC_D[4]" LOC = F19;
NET "FSMC_D[15]" LOC = F22;
NET "FSMC_D[31]" LOC = B22;
NET "FSMC_D[0]" LOC = A21;
NET "FSMC_D[18]" LOC = E20;
NET "FSMC_NBL[0]" LOC = P22;
NET "STM_IO_BRAM_AUTO_FILL" LOC = AA22;
NET "STM_IO_MATH_RDY_OUT" LOC = AB21;
NET "STM_IO_MATH_RST_IN" LOC = AA21;
NET "STM_IO_MMU_ERR_OUT" LOC = AA20;


NET "FSMC_NCE" IOSTANDARD = LVCMOS33;
NET "FSMC_NOE" IOSTANDARD = LVCMOS33;
NET "FSMC_NWE" IOSTANDARD = LVCMOS33;
NET "STM_IO_BRAM_AUTO_FILL" IOSTANDARD = LVCMOS33;
NET "STM_IO_MATH_RST_IN" IOSTANDARD = LVCMOS33;
NET "STM_IO_BRAM_DBG_OUT" IOSTANDARD = LVCMOS33;
NET "STM_IO_MATH_RDY_OUT" IOSTANDARD = LVCMOS33;
NET "STM_IO_WB_ACK_OUT" IOSTANDARD = LVCMOS33;
NET "STM_IO_FPGA_RDY" IOSTANDARD = LVCMOS33;
NET "STM_IO_WB_ERR_OUT" IOSTANDARD = LVCMOS33;
NET "STM_IO_MMU_ERR_OUT" IOSTANDARD = LVCMOS33;
NET "FSMC_D[31]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[30]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[29]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[28]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[27]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[26]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[25]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[24]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[23]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[22]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[21]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[20]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[19]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[18]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[17]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[16]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[15]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[14]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[13]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[12]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[11]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[10]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[9]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[8]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[7]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[6]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[5]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[4]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[3]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[2]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[1]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[0]" IOSTANDARD = LVCMOS33;
NET "GNSS_NRST_FROM_FPGA[3]" IOSTANDARD = LVCMOS25;
NET "GNSS_NRST_FROM_FPGA[2]" IOSTANDARD = LVCMOS25;
NET "GNSS_NRST_FROM_FPGA[1]" IOSTANDARD = LVCMOS25;
NET "GNSS_NRST_FROM_FPGA[0]" IOSTANDARD = LVCMOS25;
NET "ARINC_GPIO[31]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[30]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[29]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[28]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[27]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[26]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[25]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[24]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[23]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[22]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[21]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[20]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[19]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[18]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[17]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[16]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[15]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[14]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[13]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[12]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[11]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[10]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[9]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[8]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[7]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[6]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[5]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[4]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[3]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[2]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[1]" IOSTANDARD = LVCMOS33;
NET "ARINC_GPIO[0]" IOSTANDARD = LVCMOS33;


NET "FSMC_A[14]" LOC = V20;
NET "FSMC_A[13]" LOC = V19;
NET "FSMC_A[3]" LOC = AB19;
NET "FSMC_A[0]" LOC = Y22;
NET "FSMC_A[10]" LOC = R16;
NET "FSMC_A[4]" LOC = AB20;
NET "FSMC_A[2]" LOC = P20;
NET "FSMC_A[7]" LOC = Y19;
NET "FSMC_A[12]" LOC = R19;
NET "FSMC_A[18]" LOC = V18;
NET "FSMC_A[19]" LOC = T19;
NET "FSMC_A[1]" LOC = P19;
NET "FSMC_A[8]" LOC = Y20;
NET "FSMC_A[17]" LOC = V17;
NET "FSMC_A[11]" LOC = R17;


NET "FSMC_NBL[1]" IOSTANDARD = LVCMOS33;
NET "FSMC_NBL[0]" IOSTANDARD = LVCMOS33;
NET "GNSS_PPS_TO_FPGA[3]" IOSTANDARD = LVCMOS25;
NET "GNSS_PPS_TO_FPGA[2]" IOSTANDARD = LVCMOS25;
NET "GNSS_PPS_TO_FPGA[1]" IOSTANDARD = LVCMOS25;
NET "GNSS_PPS_TO_FPGA[0]" IOSTANDARD = LVCMOS25;


NET "GNSS_PPS_TO_FPGA[0]" LOC = D7;
NET "GNSS_PPS_TO_FPGA[1]" LOC = C7;
NET "GNSS_PPS_TO_FPGA[3]" LOC = B3;
NET "GNSS_PPS_TO_FPGA[2]" LOC = D6;
NET "GNSS_UART_TO_FPGA[3]" LOC = C5;
NET "GNSS_UART_TO_FPGA[0]" LOC = C9;
NET "GNSS_UART_TO_FPGA[1]" LOC = B8;
NET "GNSS_UART_TO_FPGA[2]" LOC = B6;


NET "STM32_GNSS_NRST_TO_FPGA[3]" IOSTANDARD = LVCMOS33;
NET "STM32_GNSS_NRST_TO_FPGA[2]" IOSTANDARD = LVCMOS33;
NET "STM32_GNSS_NRST_TO_FPGA[1]" IOSTANDARD = LVCMOS33;
NET "STM32_GNSS_NRST_TO_FPGA[0]" IOSTANDARD = LVCMOS33;
NET "STM32_UART_TO_FPGA[3]" IOSTANDARD = LVCMOS33;
NET "STM32_UART_TO_FPGA[2]" IOSTANDARD = LVCMOS33;
NET "STM32_UART_TO_FPGA[1]" IOSTANDARD = LVCMOS33;
NET "STM32_UART_TO_FPGA[0]" IOSTANDARD = LVCMOS33;
NET "GNSS_NRST_FROM_FPGA[3]" PULLUP;
NET "GNSS_NRST_FROM_FPGA[2]" PULLUP;
NET "GNSS_NRST_FROM_FPGA[1]" PULLUP;
NET "GNSS_NRST_FROM_FPGA[0]" PULLUP;


NET "GNSS_NRST_FROM_FPGA[2]" LOC = A6;
NET "GNSS_NRST_FROM_FPGA[0]" LOC = A9;
NET "GNSS_NRST_FROM_FPGA[1]" LOC = A8;
NET "GNSS_NRST_FROM_FPGA[3]" LOC = A5;


NET "GNSS_PPS_FROM_FPGA[2]" IOSTANDARD = LVCMOS33;
NET "GNSS_PPS_FROM_FPGA[1]" IOSTANDARD = LVCMOS33;
NET "GNSS_PPS_FROM_FPGA[0]" IOSTANDARD = LVCMOS33;
NET "GNSS_UART_FROM_FPGA[3]" IOSTANDARD = LVCMOS25;
NET "GNSS_UART_FROM_FPGA[2]" IOSTANDARD = LVCMOS25;
NET "GNSS_UART_FROM_FPGA[1]" IOSTANDARD = LVCMOS25;
NET "GNSS_UART_FROM_FPGA[0]" IOSTANDARD = LVCMOS25;


NET "ARINC_GPIO[8]" LOC = AB12;
NET "ARINC_GPIO[6]" LOC = Y5;
NET "ARINC_GPIO[20]" LOC = Y15;
NET "ARINC_GPIO[26]" LOC = W12;
NET "ARINC_GPIO[31]" LOC = AA6;
NET "ARINC_GPIO[17]" LOC = AB5;
NET "ARINC_GPIO[16]" LOC = AB7;
NET "ARINC_GPIO[29]" LOC = AA8;
NET "ARINC_GPIO[19]" LOC = Y17;
NET "ARINC_GPIO[3]" LOC = Y9;
NET "ARINC_GPIO[28]" LOC = W9;
NET "ARINC_GPIO[2]" LOC = U9;
NET "ARINC_GPIO[24]" LOC = W11;
NET "ARINC_GPIO[25]" LOC = Y11;
NET "ARINC_GPIO[18]" LOC = W17;
NET "ARINC_GPIO[14]" LOC = AB9;
NET "ARINC_GPIO[22]" LOC = AA14;
NET "ARINC_GPIO[7]" LOC = Y14;
NET "ARINC_GPIO[15]" LOC = W8;
NET "ARINC_GPIO[9]" LOC = AB10;
NET "ARINC_GPIO[5]" LOC = Y7;
NET "ARINC_GPIO[10]" LOC = AB13;
NET "ARINC_GPIO[30]" LOC = W6;
NET "GNSS_UART_FROM_FPGA[3]" LOC = A18;
NET "GNSS_UART_FROM_FPGA[0]" LOC = D11;
NET "GNSS_UART_FROM_FPGA[1]" LOC = C11;
NET "GNSS_UART_FROM_FPGA[2]" LOC = D10;


NET "LED_LINE[7]" IOSTANDARD = LVCMOS33;
NET "LED_LINE[6]" IOSTANDARD = LVCMOS33;
NET "LED_LINE[5]" IOSTANDARD = LVCMOS33;
NET "LED_LINE[4]" IOSTANDARD = LVCMOS33;
NET "LED_LINE[3]" IOSTANDARD = LVCMOS33;
NET "LED_LINE[2]" IOSTANDARD = LVCMOS33;
NET "LED_LINE[1]" IOSTANDARD = LVCMOS33;
NET "LED_LINE[0]" IOSTANDARD = LVCMOS33;
NET "GNSS_UART_TO_FPGA[3]" IOSTANDARD = LVCMOS25;
NET "GNSS_UART_TO_FPGA[2]" IOSTANDARD = LVCMOS25;
NET "GNSS_UART_TO_FPGA[1]" IOSTANDARD = LVCMOS25;
NET "GNSS_UART_TO_FPGA[0]" IOSTANDARD = LVCMOS25;


NET "STM32_UART_FROM_FPGA[3]" LOC = D1;
NET "STM32_UART_FROM_FPGA[1]" LOC = K5;
NET "STM32_UART_FROM_FPGA[2]" LOC = D2;
NET "STM32_UART_FROM_FPGA[0]" LOC = K6;


NET "STM32_UART_FROM_FPGA[3]" IOSTANDARD = LVCMOS33;
NET "STM32_UART_FROM_FPGA[2]" IOSTANDARD = LVCMOS33;
NET "STM32_UART_FROM_FPGA[1]" IOSTANDARD = LVCMOS33;
NET "STM32_UART_FROM_FPGA[0]" IOSTANDARD = LVCMOS33;


NET "STM32_UART_TO_FPGA[3]" LOC = C1;
NET "STM32_UART_TO_FPGA[2]" LOC = C3;
NET "STM32_UART_TO_FPGA[0]" LOC = J6;
NET "STM32_UART_TO_FPGA[1]" LOC = J4;
NET "STM32_GNSS_NRST_TO_FPGA[0]" LOC = K4;
NET "STM32_GNSS_NRST_TO_FPGA[3]" LOC = E1;
NET "STM32_GNSS_NRST_TO_FPGA[1]" LOC = K3;
NET "STM32_GNSS_NRST_TO_FPGA[2]" LOC = E3;
NET "LED_LINE[7]" LOC = Y1;
NET "LED_LINE[5]" LOC = Y4;
NET "LED_LINE[0]" LOC = W3;
NET "LED_LINE[2]" LOC = Y3;
NET "LED_LINE[3]" LOC = AB3;
NET "LED_LINE[1]" LOC = W1;
NET "LED_LINE[4]" LOC = W4;
NET "LED_LINE[6]" LOC = Y2;
NET "GNSS_PPS_FROM_FPGA[1]" LOC = V13;
NET "GNSS_PPS_FROM_FPGA[0]" LOC = AA16;
NET "GNSS_PPS_FROM_FPGA[2]" LOC = W15;


NET "STM32_GNSS_PPS_FROM_FPGA[0]" LOC = L3;
NET "STM32_GNSS_PPS_FROM_FPGA[2]" LOC = M2;
NET "STM32_GNSS_PPS_FROM_FPGA[1]" LOC = L1;
NET "STM32_GNSS_PPS_FROM_FPGA[3]" LOC = M1;


NET "STM32_GNSS_PPS_FROM_FPGA[3]" IOSTANDARD = LVCMOS33;
NET "STM32_GNSS_PPS_FROM_FPGA[2]" IOSTANDARD = LVCMOS33;
NET "STM32_GNSS_PPS_FROM_FPGA[1]" IOSTANDARD = LVCMOS33;
NET "STM32_GNSS_PPS_FROM_FPGA[0]" IOSTANDARD = LVCMOS33;


NET "FSMC_A[19]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[18]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[17]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[16]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[15]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[14]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[13]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[12]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[11]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[10]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[9]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[8]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[7]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[6]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[5]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[4]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[3]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[2]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[1]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[0]" IOSTANDARD = LVCMOS33;



NET "STM32_UART_TO_FPGA[1]" LOC = P1;
NET "STM32_UART_TO_FPGA[2]" LOC = P2;
NET "STM32_GNSS_PPS_FROM_FPGA[2]" LOC = N1;
NET "GNSS_UART_FROM_FPGA[2]" LOC = A2;
NET "GNSS_UART_FROM_FPGA[3]" LOC = A3;
NET "GNSS_PPS_TO_FPGA[0]" LOC = C6;
NET "GNSS_PPS_FROM_FPGA[0]" LOC = V6;
NET "GNSS_PPS_FROM_FPGA[2]" LOC = N7;
NET "FSMC_CLK_54MHZ" LOC = H17;
NET "FSMC_D[23]" LOC = K12;
NET "FSMC_D[6]" LOC = D17;
NET "FSMC_D[13]" LOC = F14;
NET "FSMC_D[30]" LOC = L16;
NET "FSMC_D[25]" LOC = G14;
NET "FSMC_D[18]" LOC = K13;
NET "FSMC_D[15]" LOC = L13;
NET "FSMC_D[2]" LOC = K16;
NET "FSMC_D[27]" LOC = H12;
NET "FSMC_D[26]" LOC = K15;
NET "FSMC_D[4]" LOC = K14;
NET "FSMC_D[5]" LOC = E18;
NET "FSMC_D[16]" LOC = G18;
NET "FSMC_D[10]" LOC = F15;
NET "FSMC_D[19]" LOC = H16;
NET "FSMC_D[28]" LOC = H14;
NET "FSMC_D[29]" LOC = F16;
NET "FSMC_D[8]" LOC = J13;
NET "FSMC_D[3]" LOC = E16;
NET "FSMC_D[24]" LOC = C17;
NET "FSMC_D[0]" LOC = H15;
NET "FSMC_D[22]" LOC = G13;
NET "FSMC_D[21]" LOC = H18;
NET "FSMC_D[7]" LOC = J16;
NET "FSMC_D[14]" LOC = H13;
NET "FSMC_D[17]" LOC = G16;
NET "FSMC_D[31]" LOC = F18;
NET "FSMC_D[9]" LOC = L15;
NET "FSMC_D[11]" LOC = L12;
NET "FSMC_D[1]" LOC = F17;
NET "FSMC_D[20]" LOC = D18;
NET "FSMC_D[12]" LOC = C18;
NET "FSMC_A[0]" LOC = L18;
NET "FSMC_A[3]" LOC = M14;
NET "FSMC_A[19]" LOC = T18;
NET "FSMC_A[7]" LOC = P18;
NET "FSMC_A[14]" LOC = P17;
NET "FSMC_A[15]" LOC = N16;
NET "FSMC_A[5]" LOC = J18;
NET "FSMC_A[16]" LOC = K17;
NET "FSMC_A[10]" LOC = U18;
NET "FSMC_A[9]" LOC = U17;
NET "FSMC_A[4]" LOC = N15;
NET "FSMC_A[17]" LOC = N17;
NET "FSMC_A[13]" LOC = L14;
NET "FSMC_A[8]" LOC = N14;
NET "FSMC_A[1]" LOC = T17;
NET "FSMC_A[18]" LOC = M18;
NET "FSMC_A[11]" LOC = K18;
NET "FSMC_A[6]" LOC = M16;
NET "FSMC_A[2]" LOC = N18;
NET "FSMC_A[12]" LOC = L17;
NET "FSMC_NOE" LOC = P16;
NET "FSMC_NWE" LOC = P15;
NET "FSMC_NCE" LOC = M13;

# PlanAhead Generated physical constraints 
NET "FSMC_NBL[0]" LOC = T15;
NET "FSMC_NBL[1]" LOC = T14;
NET "STM_IO_MATH_RST_IN" LOC = T4;
NET "STM_IO_WB_ACK_OUT" LOC = R5;
NET "STM_IO_MATH_RDY_OUT" LOC = V16;
NET "STM_IO_MMU_ERR_OUT" LOC = U7;
NET "STM_IO_BRAM_AUTO_FILL" LOC = U8;
NET "STM_IO_FPGA_RDY" LOC = R7;
NET "STM_IO_WB_ERR_OUT" LOC = U3;
NET "STM_IO_BRAM_DBG_OUT" LOC = T6;
NET "LED_LINE[4]" LOC = V8;
NET "LED_LINE[1]" LOC = V4;
NET "LED_LINE[5]" LOC = V9;
NET "LED_LINE[2]" LOC = V7;
NET "LED_LINE[6]" LOC = V3;
NET "LED_LINE[3]" LOC = T5;
NET "LED_LINE[7]" LOC = V10;
NET "LED_LINE[0]" LOC = T7;
NET "ARINC_GPIO[21]" LOC = U5;
NET "ARINC_GPIO[25]" LOC = P7;
NET "ARINC_GPIO[4]" LOC = T11;
NET "ARINC_GPIO[11]" LOC = N5;
NET "ARINC_GPIO[15]" LOC = M10;
NET "ARINC_GPIO[20]" LOC = V12;
NET "ARINC_GPIO[24]" LOC = T13;
NET "ARINC_GPIO[28]" LOC = V11;
NET "ARINC_GPIO[3]" LOC = V14;
NET "ARINC_GPIO[1]" LOC = R15;
NET "ARINC_GPIO[7]" LOC = R3;
NET "ARINC_GPIO[10]" LOC = T10;
NET "ARINC_GPIO[14]" LOC = N6;
NET "ARINC_GPIO[18]" LOC = T3;
NET "ARINC_GPIO[31]" LOC = N11;
NET "ARINC_GPIO[19]" LOC = N9;
NET "ARINC_GPIO[23]" LOC = P8;
NET "ARINC_GPIO[27]" LOC = P12;
NET "ARINC_GPIO[29]" LOC = R8;
NET "ARINC_GPIO[2]" LOC = P11;
NET "ARINC_GPIO[6]" LOC = V5;
NET "ARINC_GPIO[9]" LOC = N10;
NET "ARINC_GPIO[13]" LOC = T9;
NET "ARINC_GPIO[17]" LOC = V15;
NET "ARINC_GPIO[30]" LOC = R10;
NET "ARINC_GPIO[0]" LOC = M8;
NET "ARINC_GPIO[22]" LOC = N8;
NET "ARINC_GPIO[26]" LOC = M11;
NET "ARINC_GPIO[5]" LOC = R13;
NET "ARINC_GPIO[8]" LOC = U15;
NET "ARINC_GPIO[12]" LOC = T8;
NET "ARINC_GPIO[16]" LOC = N12;

# Offset constraints
INST "FSMC_A<0>" TNM = FSMC_Axx;
INST "FSMC_A<1>" TNM = FSMC_Axx;
INST "FSMC_A<2>" TNM = FSMC_Axx;
INST "FSMC_A<3>" TNM = FSMC_Axx;
INST "FSMC_A<4>" TNM = FSMC_Axx;
INST "FSMC_A<5>" TNM = FSMC_Axx;
INST "FSMC_A<6>" TNM = FSMC_Axx;
INST "FSMC_A<7>" TNM = FSMC_Axx;
INST "FSMC_A<8>" TNM = FSMC_Axx;
INST "FSMC_A<9>" TNM = FSMC_Axx;
INST "FSMC_A<10>" TNM = FSMC_Axx;
INST "FSMC_A<11>" TNM = FSMC_Axx;
INST "FSMC_A<12>" TNM = FSMC_Axx;
INST "FSMC_A<13>" TNM = FSMC_Axx;
INST "FSMC_A<14>" TNM = FSMC_Axx;
INST "FSMC_A<15>" TNM = FSMC_Axx;
INST "FSMC_A<16>" TNM = FSMC_Axx;
INST "FSMC_A<17>" TNM = FSMC_Axx;
INST "FSMC_A<18>" TNM = FSMC_Axx;
INST "FSMC_A<19>" TNM = FSMC_Axx;

INST "FSMC_D<0>" TNM = FSMC_Dxx;
INST "FSMC_D<1>" TNM = FSMC_Dxx;
INST "FSMC_D<2>" TNM = FSMC_Dxx;
INST "FSMC_D<3>" TNM = FSMC_Dxx;
INST "FSMC_D<4>" TNM = FSMC_Dxx;
INST "FSMC_D<5>" TNM = FSMC_Dxx;
INST "FSMC_D<6>" TNM = FSMC_Dxx;
INST "FSMC_D<7>" TNM = FSMC_Dxx;
INST "FSMC_D<8>" TNM = FSMC_Dxx;
INST "FSMC_D<9>" TNM = FSMC_Dxx;
INST "FSMC_D<10>" TNM = FSMC_Dxx;
INST "FSMC_D<11>" TNM = FSMC_Dxx;
INST "FSMC_D<12>" TNM = FSMC_Dxx;
INST "FSMC_D<13>" TNM = FSMC_Dxx;
INST "FSMC_D<14>" TNM = FSMC_Dxx;
INST "FSMC_D<15>" TNM = FSMC_Dxx;
INST "FSMC_D<16>" TNM = FSMC_Dxx;
INST "FSMC_D<17>" TNM = FSMC_Dxx;
INST "FSMC_D<18>" TNM = FSMC_Dxx;
INST "FSMC_D<19>" TNM = FSMC_Dxx;
INST "FSMC_D<20>" TNM = FSMC_Dxx;
INST "FSMC_D<21>" TNM = FSMC_Dxx;
INST "FSMC_D<22>" TNM = FSMC_Dxx;
INST "FSMC_D<23>" TNM = FSMC_Dxx;
INST "FSMC_D<24>" TNM = FSMC_Dxx;
INST "FSMC_D<25>" TNM = FSMC_Dxx;
INST "FSMC_D<26>" TNM = FSMC_Dxx;
INST "FSMC_D<27>" TNM = FSMC_Dxx;
INST "FSMC_D<28>" TNM = FSMC_Dxx;
INST "FSMC_D<29>" TNM = FSMC_Dxx;
INST "FSMC_D<30>" TNM = FSMC_Dxx;
INST "FSMC_D<31>" TNM = FSMC_Dxx;

NET "FSMC_NCE" OFFSET = IN 7.25 ns BEFORE "FSMC_CLK_54MHZ" RISING;
NET "FSMC_NWE" OFFSET = IN 7.75 ns BEFORE "FSMC_CLK_54MHZ" RISING;

TIMEGRP "FSMC_Axx" OFFSET = IN 6.75 ns BEFORE "FSMC_CLK_54MHZ" RISING;
TIMEGRP "FSMC_Dxx" OFFSET = IN 5.75 ns VALID 18.5 ns BEFORE "FSMC_CLK_54MHZ" RISING;
# 18.5-1.5-0.4 (period-setup requirement-2x board delay(~0.2ns/inch))
TIMEGRP "FSMC_Dxx" OFFSET = OUT 16.6 ns AFTER "FSMC_CLK_54MHZ" REFERENCE_PIN "FSMC_D<0>";

# Timing ignore
TIMESPEC TS_fsmc2mul = FROM "FSMC_CLK_54MHZ" TO "clk_src_clkfx" TIG;
TIMESPEC TS_mul2fsmc = FROM "clk_src_clkfx" TO "FSMC_CLK_54MHZ" TIG;
