# Clock
NET "FSMC_CLK_54MHZ" TNM_NET = "FSMC_CLK_54MHZ";
NET "FSMC_CLK_54MHZ" LOC = L15;
NET "FSMC_CLK_54MHZ" IOSTANDARD = LVCMOS33;
TIMESPEC TS_FSMC_CLK_54MHZ = PERIOD "FSMC_CLK_54MHZ" 18.518 ns HIGH 50 % INPUT_JITTER 185.18 ps;

# Offset constraints
INST "FSMC_A[0]" TNM = "FSMC_Axx";
INST "FSMC_A[1]" TNM = "FSMC_Axx";
INST "FSMC_A[2]" TNM = "FSMC_Axx";
INST "FSMC_A[3]" TNM = "FSMC_Axx";
INST "FSMC_A[4]" TNM = "FSMC_Axx";
INST "FSMC_A[5]" TNM = "FSMC_Axx";
INST "FSMC_A[6]" TNM = "FSMC_Axx";
INST "FSMC_A[7]" TNM = "FSMC_Axx";
INST "FSMC_A[8]" TNM = "FSMC_Axx";
INST "FSMC_A[9]" TNM = "FSMC_Axx";
INST "FSMC_A[10]" TNM = "FSMC_Axx";
INST "FSMC_A[11]" TNM = "FSMC_Axx";
INST "FSMC_A[12]" TNM = "FSMC_Axx";
INST "FSMC_A[13]" TNM = "FSMC_Axx";
INST "FSMC_A[14]" TNM = "FSMC_Axx";
INST "FSMC_A[15]" TNM = "FSMC_Axx";
INST "FSMC_A[16]" TNM = "FSMC_Axx";
INST "FSMC_A[17]" TNM = "FSMC_Axx";
INST "FSMC_A[18]" TNM = "FSMC_Axx";
INST "FSMC_A[19]" TNM = "FSMC_Axx";

INST "FSMC_D[0]" TNM = "FSMC_Dxx";
INST "FSMC_D[1]" TNM = "FSMC_Dxx";
INST "FSMC_D[2]" TNM = "FSMC_Dxx";
INST "FSMC_D[3]" TNM = "FSMC_Dxx";
INST "FSMC_D[4]" TNM = "FSMC_Dxx";
INST "FSMC_D[5]" TNM = "FSMC_Dxx";
INST "FSMC_D[6]" TNM = "FSMC_Dxx";
INST "FSMC_D[7]" TNM = "FSMC_Dxx";
INST "FSMC_D[8]" TNM = "FSMC_Dxx";
INST "FSMC_D[9]" TNM = "FSMC_Dxx";
INST "FSMC_D[10]" TNM = "FSMC_Dxx";
INST "FSMC_D[11]" TNM = "FSMC_Dxx";
INST "FSMC_D[12]" TNM = "FSMC_Dxx";
INST "FSMC_D[13]" TNM = "FSMC_Dxx";
INST "FSMC_D[14]" TNM = "FSMC_Dxx";
INST "FSMC_D[15]" TNM = "FSMC_Dxx";
INST "FSMC_D[16]" TNM = "FSMC_Dxx";
INST "FSMC_D[17]" TNM = "FSMC_Dxx";
INST "FSMC_D[18]" TNM = "FSMC_Dxx";
INST "FSMC_D[19]" TNM = "FSMC_Dxx";
INST "FSMC_D[20]" TNM = "FSMC_Dxx";
INST "FSMC_D[21]" TNM = "FSMC_Dxx";
INST "FSMC_D[22]" TNM = "FSMC_Dxx";
INST "FSMC_D[23]" TNM = "FSMC_Dxx";
INST "FSMC_D[24]" TNM = "FSMC_Dxx";
INST "FSMC_D[25]" TNM = "FSMC_Dxx";
INST "FSMC_D[26]" TNM = "FSMC_Dxx";
INST "FSMC_D[27]" TNM = "FSMC_Dxx";
INST "FSMC_D[28]" TNM = "FSMC_Dxx";
INST "FSMC_D[29]" TNM = "FSMC_Dxx";
INST "FSMC_D[30]" TNM = "FSMC_Dxx";
INST "FSMC_D[31]" TNM = "FSMC_Dxx";

NET "FSMC_NCE" OFFSET = IN 7.25 ns BEFORE "FSMC_CLK_54MHZ" RISING;
NET "FSMC_NWE" OFFSET = IN 7.75 ns BEFORE "FSMC_CLK_54MHZ" RISING;

TIMEGRP "FSMC_Axx" OFFSET = IN 6.75 ns BEFORE "FSMC_CLK_54MHZ" RISING;
TIMEGRP "FSMC_Dxx" OFFSET = IN 5.75 ns VALID 18.5 ns BEFORE "FSMC_CLK_54MHZ" RISING;
# 18.5-1.5-0.4 (period-setup requirement-2x board delay(~0.2ns/inch))
TIMEGRP "FSMC_Dxx" OFFSET = OUT 16.6 ns AFTER "FSMC_CLK_54MHZ" REFERENCE_PIN "FSMC_D[0]";

# Timing ignore
TIMESPEC TS_fsmc2mul = FROM "FSMC_CLK_54MHZ" TO "clk_src_clkfx" TIG ;
TIMESPEC TS_mul2fsmc = FROM "clk_src_clkfx" TO "FSMC_CLK_54MHZ" TIG ;

# Pins
NET "FSMC_D[0]" LOC = M14;
NET "FSMC_D[0]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[1]" LOC = L14;
NET "FSMC_D[1]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[2]" LOC = M13;
NET "FSMC_D[2]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[3]" LOC = C17;
NET "FSMC_D[3]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[4]" LOC = C18;
NET "FSMC_D[4]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[5]" LOC = F14;
NET "FSMC_D[5]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[6]" LOC = G14;
NET "FSMC_D[6]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[7]" LOC = D17;
NET "FSMC_D[7]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[8]" LOC = D18;
NET "FSMC_D[8]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[9]" LOC = H12;
NET "FSMC_D[9]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[10]" LOC = G13;
NET "FSMC_D[10]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[11]" LOC = E16;
NET "FSMC_D[11]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[12]" LOC = E18;
NET "FSMC_D[12]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[13]" LOC = K12;
NET "FSMC_D[13]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[14]" LOC = K13;
NET "FSMC_D[14]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[15]" LOC = F17;
NET "FSMC_D[15]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[16]" LOC = F18;
NET "FSMC_D[16]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[17]" LOC = H13;
NET "FSMC_D[17]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[18]" LOC = H14;
NET "FSMC_D[18]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[19]" LOC = H15;
NET "FSMC_D[19]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[20]" LOC = H16;
NET "FSMC_D[20]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[21]" LOC = G16;
NET "FSMC_D[21]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[22]" LOC = G18;
NET "FSMC_D[22]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[23]" LOC = J13;
NET "FSMC_D[23]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[24]" LOC = K14;
NET "FSMC_D[24]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[25]" LOC = J16;
NET "FSMC_D[25]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[26]" LOC = J18;
NET "FSMC_D[26]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[27]" LOC = K17;
NET "FSMC_D[27]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[28]" LOC = K18;
NET "FSMC_D[28]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[29]" LOC = L17;
NET "FSMC_D[29]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[30]" LOC = L18;
NET "FSMC_D[30]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[31]" LOC = M16;
NET "FSMC_D[31]" IOSTANDARD = LVCMOS33;

NET "FSMC_A[0]" LOC = M18;
NET "FSMC_A[0]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[1]" LOC = N17;
NET "FSMC_A[1]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[2]" LOC = N18;
NET "FSMC_A[2]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[3]" LOC = P17;
NET "FSMC_A[3]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[4]" LOC = P18;
NET "FSMC_A[4]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[5]" LOC = N15;
NET "FSMC_A[5]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[6]" LOC = N16;
NET "FSMC_A[6]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[7]" LOC = T17;
NET "FSMC_A[7]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[8]" LOC = T18;
NET "FSMC_A[8]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[9]" LOC = U17;
NET "FSMC_A[9]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[10]" LOC = U18;
NET "FSMC_A[10]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[11]" LOC = P16;
NET "FSMC_A[11]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[12]" LOC = P15;
NET "FSMC_A[12]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[14]" LOC = N14;
NET "FSMC_A[14]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[16]" LOC = L12;
NET "FSMC_A[16]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[17]" LOC = L13;
NET "FSMC_A[17]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[18]" LOC = K15;
NET "FSMC_A[18]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[19]" LOC = K16;
NET "FSMC_A[19]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[15]" LOC = F15;
NET "FSMC_A[15]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[13]" LOC = F16;
NET "FSMC_A[13]" IOSTANDARD = LVCMOS33;

NET "FSMC_NCE" LOC = H18;
NET "FSMC_NCE" IOSTANDARD = LVCMOS33;
NET "FSMC_NOE" LOC = L16;
NET "FSMC_NOE" IOSTANDARD = LVCMOS33;
NET "FSMC_NWE" LOC = H17;
NET "FSMC_NWE" IOSTANDARD = LVCMOS33;

NET "LED[7]" LOC = D2;
NET "LED[7]" IOSTANDARD = LVCMOS33;
NET "LED[6]" LOC = D1;
NET "LED[6]" IOSTANDARD = LVCMOS33;
NET "LED[5]" LOC = H7;
NET "LED[5]" IOSTANDARD = LVCMOS33;
NET "LED[4]" LOC = G6;
NET "LED[4]" IOSTANDARD = LVCMOS33;
NET "LED[3]" LOC = E4;
NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[2]" LOC = D3;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[1]" LOC = F6;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[0]" LOC = F5;
NET "LED[0]" IOSTANDARD = LVCMOS33;

NET "AR_IO[31]" LOC = R11;
NET "AR_IO[31]" IOSTANDARD = LVCMOS33;
NET "AR_IO[30]" LOC = T12;
NET "AR_IO[30]" IOSTANDARD = LVCMOS33;
NET "AR_IO[29]" LOC = V12;
NET "AR_IO[29]" IOSTANDARD = LVCMOS33;
NET "AR_IO[28]" LOC = N10;
NET "AR_IO[28]" IOSTANDARD = LVCMOS33;
NET "AR_IO[27]" LOC = P11;
NET "AR_IO[27]" IOSTANDARD = LVCMOS33;
NET "AR_IO[26]" LOC = M10;
NET "AR_IO[26]" IOSTANDARD = LVCMOS33;
NET "AR_IO[25]" LOC = N9;
NET "AR_IO[25]" IOSTANDARD = LVCMOS33;
NET "AR_IO[24]" LOC = U11;
NET "AR_IO[24]" IOSTANDARD = LVCMOS33;
NET "AR_IO[23]" LOC = V11;
NET "AR_IO[23]" IOSTANDARD = LVCMOS33;
NET "AR_IO[22]" LOC = M8;
NET "AR_IO[22]" IOSTANDARD = LVCMOS33;
NET "AR_IO[21]" LOC = N8;
NET "AR_IO[21]" IOSTANDARD = LVCMOS33;
NET "AR_IO[20]" LOC = U8;
NET "AR_IO[20]" IOSTANDARD = LVCMOS33;
NET "AR_IO[19]" LOC = U7;
NET "AR_IO[19]" IOSTANDARD = LVCMOS33;
NET "AR_IO[18]" LOC = V7;
NET "AR_IO[18]" IOSTANDARD = LVCMOS33;
NET "AR_IO[17]" LOC = N7;
NET "AR_IO[17]" IOSTANDARD = LVCMOS33;
NET "AR_IO[16]" LOC = P8;
NET "AR_IO[16]" IOSTANDARD = LVCMOS33;
NET "AR_IO[15]" LOC = T6;
NET "AR_IO[15]" IOSTANDARD = LVCMOS33;
NET "AR_IO[14]" LOC = V6;
NET "AR_IO[14]" IOSTANDARD = LVCMOS33;
NET "AR_IO[13]" LOC = R7;
NET "AR_IO[13]" IOSTANDARD = LVCMOS33;
NET "AR_IO[12]" LOC = T7;
NET "AR_IO[12]" IOSTANDARD = LVCMOS33;
NET "AR_IO[11]" LOC = N6;
NET "AR_IO[11]" IOSTANDARD = LVCMOS33;
NET "AR_IO[10]" LOC = P7;
NET "AR_IO[10]" IOSTANDARD = LVCMOS33;
NET "AR_IO[9]" LOC = T4;
NET "AR_IO[9]" IOSTANDARD = LVCMOS33;
NET "AR_IO[8]" LOC = V4;
NET "AR_IO[8]" IOSTANDARD = LVCMOS33;
NET "AR_IO[7]" LOC = V8;
NET "AR_IO[7]" IOSTANDARD = LVCMOS33;
NET "AR_IO[6]" LOC = T5;
NET "AR_IO[6]" IOSTANDARD = LVCMOS33;
NET "AR_IO[5]" LOC = T11;
NET "AR_IO[5]" IOSTANDARD = LVCMOS33;
NET "AR_IO[4]" LOC = U16;
NET "AR_IO[4]" IOSTANDARD = LVCMOS33;
NET "AR_IO[3]" LOC = V16;
NET "AR_IO[3]" IOSTANDARD = LVCMOS33;
NET "AR_IO[2]" LOC = R10;
NET "AR_IO[2]" IOSTANDARD = LVCMOS33;
NET "AR_IO[1]" LOC = T10;
NET "AR_IO[1]" IOSTANDARD = LVCMOS33;
NET "AR_IO[0]" LOC = V10;
NET "AR_IO[0]" IOSTANDARD = LVCMOS33;

NET "S_BRAM_FILL_F" LOC = P6;
NET "S_BRAM_FILL_F" IOSTANDARD = LVCMOS33;
NET "F_DBG_S" LOC = U10;
NET "F_DBG_S" IOSTANDARD = LVCMOS33;
NET "F_FPGA_RDY_S" LOC = R8;
NET "F_FPGA_RDY_S" IOSTANDARD = LVCMOS33;
NET "F_MATH_RDY_S" LOC = P12;
NET "F_MATH_RDY_S" IOSTANDARD = LVCMOS33;
NET "S_MATH_RST_F" LOC = N5;
NET "S_MATH_RST_F" IOSTANDARD = LVCMOS33;
NET "F_MMU_ERR_S" LOC = T8;
NET "F_MMU_ERR_S" IOSTANDARD = LVCMOS33;
NET "F_ACK_S" LOC = V13;
NET "F_ACK_S" IOSTANDARD = LVCMOS33;
NET "F_MATH_ERR_S" LOC = U13;
NET "F_MATH_ERR_S" IOSTANDARD = LVCMOS33;

NET "F_G1_EV" LOC = B6;
NET "F_G2_EV" LOC = A13;
NET "F_G3_EV" LOC = A14;
NET "F_RST_G1" LOC = A4;
NET "F_RST_G2" LOC = B12;
NET "F_RST_G3" LOC = C4;
NET "G1_INT_B_F" LOC = C5;
NET "G1_PPS_F" LOC = B4;
NET "G1_PV_F" LOC = A5;
NET "G1_VARF_F" LOC = C7;
NET "G2_INT_B_F" LOC = A12;
NET "G2_PPS_F" LOC = A11;
NET "G2_PV_F" LOC = C13;
NET "G2_VARF_F" LOC = B14;
NET "G3_INT_B_F" LOC = A6;
NET "G3_PPS_F" LOC = A16;
NET "G3_PV_F" LOC = F9;
NET "G3_VARF_F" LOC = D9;
NET "F_G1_RX[0]" LOC = B2;
NET "F_G1_RX[1]" LOC = D6;
NET "F_G1_RX[2]" LOC = B3;
NET "F_G2_RX[0]" LOC = D8;
NET "F_G2_RX[1]" LOC = B8;
NET "F_G2_RX[2]" LOC = G9;
NET "F_G3_RX[0]" LOC = E13;
NET "F_G3_RX[1]" LOC = A15;
NET "F_G3_RX[2]" LOC = C14;
NET "G1_TX_F[0]" LOC = A2;
NET "G1_TX_F[1]" LOC = C6;
NET "G1_TX_F[2]" LOC = A3;
NET "G2_TX_F[0]" LOC = C8;
NET "G2_TX_F[1]" LOC = A8;
NET "G2_TX_F[2]" LOC = B11;
NET "G3_TX_F[0]" LOC = C15;
NET "G3_TX_F[1]" LOC = D14;
NET "G3_TX_F[2]" LOC = B16;

NET "S_TX_F[5]" LOC = N4;
NET "S_TX_F[4]" LOC = P4;
NET "S_TX_F[3]" LOC = P3;
NET "S_TX_F[2]" LOC = L6;
NET "F_S_RX[5]" LOC = U2;
NET "F_S_RX[4]" LOC = U1;
NET "F_S_RX[3]" LOC = T2;
NET "F_S_RX[2]" LOC = T1;
NET "S_RST_F[3]" LOC = C2;
NET "S_RST_F[2]" LOC = N3;
NET "S_RST_F[1]" LOC = M5;
NET "S_RST_F[0]" LOC = C1;
NET "F_PPS_S[3]" LOC = P2;
NET "F_PPS_S[2]" LOC = P1;
NET "F_PPS_S[1]" LOC = N2;
NET "F_PPS_S[0]" LOC = N1;

NET "F_RST_G3" IOSTANDARD = LVCMOS25;
NET "F_G1_RX[0]" IOSTANDARD = LVCMOS25;
NET "G1_TX_F[0]" IOSTANDARD = LVCMOS25;
NET "F_G1_RX[1]" IOSTANDARD = LVCMOS25;
NET "G1_TX_F[1]" IOSTANDARD = LVCMOS25;
NET "F_G1_RX[2]" IOSTANDARD = LVCMOS25;
NET "G1_TX_F[2]" IOSTANDARD = LVCMOS25;
NET "G1_PPS_F" IOSTANDARD = LVCMOS25;
NET "F_RST_G1" IOSTANDARD = LVCMOS25;
NET "G1_INT_B_F" IOSTANDARD = LVCMOS25;
NET "G1_PV_F" IOSTANDARD = LVCMOS25;
NET "G1_VARF_F" IOSTANDARD = LVCMOS25;
NET "F_G1_EV" IOSTANDARD = LVCMOS25;
NET "G3_INT_B_F" IOSTANDARD = LVCMOS25;
NET "F_G2_RX[0]" IOSTANDARD = LVCMOS25;
NET "G2_TX_F[0]" IOSTANDARD = LVCMOS25;
NET "F_G2_RX[1]" IOSTANDARD = LVCMOS25;
NET "G2_TX_F[1]" IOSTANDARD = LVCMOS25;
NET "G3_VARF_F" IOSTANDARD = LVCMOS25;
NET "F_G2_RX[2]" IOSTANDARD = LVCMOS25;
NET "G3_PV_F" IOSTANDARD = LVCMOS25;
NET "G2_TX_F[2]" IOSTANDARD = LVCMOS25;
NET "G2_PPS_F" IOSTANDARD = LVCMOS25;
NET "F_RST_G2" IOSTANDARD = LVCMOS25;
NET "G2_INT_B_F" IOSTANDARD = LVCMOS25;
NET "G2_PV_F" IOSTANDARD = LVCMOS25;
NET "F_G2_EV" IOSTANDARD = LVCMOS25;
NET "G2_VARF_F" IOSTANDARD = LVCMOS25;
NET "F_G3_EV" IOSTANDARD = LVCMOS25;
NET "F_G3_RX[0]" IOSTANDARD = LVCMOS25;
NET "G3_TX_F[0]" IOSTANDARD = LVCMOS25;
NET "F_G3_RX[1]" IOSTANDARD = LVCMOS25;
NET "G3_TX_F[1]" IOSTANDARD = LVCMOS25;
NET "F_G3_RX[2]" IOSTANDARD = LVCMOS25;
NET "G3_TX_F[2]" IOSTANDARD = LVCMOS25;
NET "G3_PPS_F" IOSTANDARD = LVCMOS25;

NET "S_TX_F[5]" IOSTANDARD = LVCMOS33;
NET "S_RST_F[2]" IOSTANDARD = LVCMOS33;
NET "S_TX_F[4]" IOSTANDARD = LVCMOS33;
NET "S_TX_F[3]" IOSTANDARD = LVCMOS33;
NET "S_TX_F[2]" IOSTANDARD = LVCMOS33;
NET "S_RST_F[1]" IOSTANDARD = LVCMOS33;
NET "F_S_RX[5]" IOSTANDARD = LVCMOS33;
NET "F_S_RX[4]" IOSTANDARD = LVCMOS33;
NET "F_S_RX[3]" IOSTANDARD = LVCMOS33;
NET "F_S_RX[2]" IOSTANDARD = LVCMOS33;
NET "F_PPS_S[3]" IOSTANDARD = LVCMOS33;
NET "F_PPS_S[2]" IOSTANDARD = LVCMOS33;
NET "F_PPS_S[1]" IOSTANDARD = LVCMOS33;
NET "F_PPS_S[0]" IOSTANDARD = LVCMOS33;
NET "S_RST_F[3]" IOSTANDARD = LVCMOS33;
NET "S_RST_F[0]" IOSTANDARD = LVCMOS33;

NET "F_PPSp_O" LOC = M11;
NET "F_PPSp_O" IOSTANDARD = LVDS_33;
NET "F_PPSn_O" IOSTANDARD = LVDS_33;
